

<a href= "profile/:id">Profile</a> 
<a href= "login">Login</a>
<a href= "logout">Logout</a>
<a href= "posts">Posts</a>
<a href= "admin">Admin</a>
 </div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
